  .lokasi img {
      vertical-align: baseline;
  }

h2, h5, h6 {
    color: #000 !important;
}
h1, h3{
    color: #EC4746; }
h4{
    color: #fff;
}

#main-content.judul{
    margin-right: auto;
    margin-left: auto;
}
.lokasi{
    margin-right: auto;
    margin-left: auto;
}

.img-rounded{
    border-radius: 2%;
}
