@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
html, body {
  font-family: 'Montserrat', 'sans-serif' !important; 
  scroll-behavior: smooth;
  overflow-x: hidden; }

#overrideBs a, #overrideBs a:link, #overrideBs a:visited, #overrideBs a:hover, #overrideBs a:active, #overrideBs a:focus {
  color: inherit;
  text-decoration: none; }

  .lokasi1 img {
      vertical-align: baseline;
  }

h2, h5, h6 {
    color: #000 !important;
}
h1, h3{
    color: #EC4746; }
h4{
    color: #fff;
}

#main-content.judul{
    padding-top: 120px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 115px;
    padding-left: 115px;
}
.lokasi1{
    margin-right: auto;
    margin-left: auto;
    padding-right: 115px;
    padding-left: 115px;
}
.lokasi2{
    margin-right: auto;
    margin-left: auto;
    padding-right: 115px;
    padding-left: 115px;
}
.lokasi3{
    margin-right: auto;
    margin-left: auto;
    padding-right: 115px;
    padding-left: 115px;
}

.img-rounded{
    border-radius: 2%;
}
nav#navOverrideBs {
    color: #fff;
    font-size: .85rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    flex-flow: column;
    transition: .25s;
    background: #fbb560;
    background: -moz-linear-gradient(0deg, #fbb560 -150%, #ec4746 100%);
    background: -webkit-linear-gradient(0deg, #fbb560 -150%, #ec4746 100%);
    background: linear-gradient(0deg, #fbb560 -190%, #ec4746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbb560",endColorstr="#ec4746",GradientType=1); }
    nav#navOverrideBs li.nav-item a.nav-link {
      color: #fff;
      padding: .1rem .75rem;
      border-radius: 15px/50%;
      transition: .15s ease-out; }
    nav#navOverrideBs li.nav-item a.nav-link:hover {
      color: #EC4746;
      background: white;
      box-shadow: 2.5px 2px 2px #EE3A2E; }
    nav#navOverrideBs li.nav-item.active a.nav-link {
      color: #EC4746;
      background: white;
      box-shadow: 5px 4px 2px #EC4746;
      font-weight: 700; }

footer {
    margin-top: auto;
    background: #EC4746;
    color: #fff;
    padding: 2rem 0; }
footer ul {
    list-style: none;
    padding: 0; }
footer .col-md {
    padding: 0; }

#overrideBs.slideshow .active, #overrideBs.slideshow .dot:hover {
    background-color: #EC4746; }
#overrideBs.col-md{
    
}


