@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
html, body {
  font-family: 'Montserrat', 'sans-serif' !important;
  scroll-behavior: smooth;
  overflow-x: hidden; }

::selection {
  background: #eee; }

h1, h2, h3, h4, h5, h6 {
  color: #EC4746; }

#overrideBs a, #overrideBs a:link, #overrideBs a:visited, #overrideBs a:hover, #overrideBs a:active, #overrideBs a:focus {
  color: inherit;
  text-decoration: none; }

nav#navOverrideBs {
  color: #fff;
  font-size: .85rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  flex-flow: column;
  transition: .25s;
  background: #fbb560;
  background: -moz-linear-gradient(0deg, #fbb560 -190%, #ec4746 100%);
  background: -webkit-linear-gradient(0deg, #fbb560 -190%, #ec4746 100%);
  background: linear-gradient(0deg, #fbb560 -190%, #ec4746 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbb560",endColorstr="#ec4746",GradientType=1); }
  nav#navOverrideBs li.nav-item a.nav-link {
    color: #fff;
    padding: .1rem .75rem;
    border-radius: 15px/50%;
    transition: .15s ease-out; }
  nav#navOverrideBs li.nav-item a.nav-link:hover {
    color: #EC4746;
    background: white;
    box-shadow: 2.5px 2px 2px #EE3A2E; }
  nav#navOverrideBs li.nav-item.active a.nav-link {
    color: #EC4746;
    background: white;
    box-shadow: 5px 4px 2px #EC4746;
    font-weight: 700; }

.nav-item {
  margin: 0 1rem; }

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    font-size: 1.15rem;
    position: fixed;
    top: 85px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    max-width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background: #fbb560;
    background: -moz-linear-gradient(0deg, #fbb560 0%, #ec4746 135%);
    background: -webkit-linear-gradient(0deg, #fbb560 0%, #ec4746 135%);
    background: linear-gradient(0deg, #fbb560 0%, #ec4746 135%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbb560",endColorstr="#ec4746",GradientType=1);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out; }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

  nav#navOverrideBs li.nav-item {
    margin: .5rem 0 .5rem 0; }
    nav#navOverrideBs li.nav-item a.nav-link {
      padding: .5rem 1rem;
      border-radius: 25px/50%; }

  .home-menu#overrideBs {
    display: none; }

  main {
    padding-top: 6.75rem !important; }

  .home-menu-mobile {
    display: block; } }
@media (min-width: 991.99px) {
  .home-menu-mobile {
    display: none; } }
div.hr {
  background: #fff;
  height: 4px;
  border-radius: 2.5px/50%;
  margin: .25rem 0; }

.home-menu {
  font-weight: 700;
  margin-top: 1rem; }
  .home-menu ul {
    list-style: none; }
  .home-menu li {
    margin-right: 2rem; }
    .home-menu li a:hover .menu-line {
      opacity: 1;
      max-width: 100%; }
    .home-menu li a.active .menu-line {
      opacity: 1;
      max-width: 100%; }
  .home-menu .menu-img {
    max-width: 35px; }
  .home-menu .menu-text {
    display: inline-block;
    align-self: center;
    margin-left: .5rem; }
    .home-menu .menu-text span {
      transition: .25s; }
  .home-menu .menu-line {
    margin: 0;
    opacity: 0;
    max-width: 10px;
    border-radius: 2.5%/50%;
    transition: opacity .25s, max-width .25s ease-out; }

.home-menu-mobile {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem; }
  .home-menu-mobile a {
    color: #fff !important; }
  .home-menu-mobile ul {
    list-style: none; }
  .home-menu-mobile li {
    margin: .5rem 0; }
    .home-menu-mobile li a:hover .menu-line {
      opacity: 1;
      max-width: 100%; }
    .home-menu-mobile li a.active .menu-line {
      opacity: 1;
      max-width: 100%; }
  .home-menu-mobile .menu-img {
    max-width: 30px; }
  .home-menu-mobile .menu-text {
    display: inline-block;
    align-self: center;
    margin-left: .5rem; }
    .home-menu-mobile .menu-text span {
      transition: .25s; }
  .home-menu-mobile .menu-line {
    margin: 0;
    opacity: 0;
    max-width: 10px;
    border-radius: 2.5%/50%;
    transition: opacity .25s, max-width .25s ease-out; }

main {
  padding-top: 10.5rem; }

.flex {
  display: flex; }

.flex-row {
  flex-flow: row nowrap; }

.flex-col {
  flex-flow: column nowrap; }

td {
  padding: 0; }

td.product-wrapper {
  border-radius: 10px;
  transition: .25s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.25); }
  td.product-wrapper table td:nth-of-type(2) {
    padding: .5rem; }

td.product-wrapper:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.25); }

table.product-table {
  border-collapse: unset;
  border-spacing: 15px 0;
  margin: 1rem 0 2rem 0; }

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 2.5%;
  margin-right: 1rem; }

.image-container.mini {
  width: 150px;
  height: 150px; }

@media (max-width: 768px) {
  .category-wrapper tr {
    display: table;
    width: 100%; }

  .category-wrapper td {
    display: table-row; }

  .product-table tr {
    display: table;
    width: 100%; }

  .product-table td {
    display: table-row; }

  div.image-container {
    width: 100%;
    margin-bottom: 1rem; }

  table.product-table {
    border-spacing: 0 1rem;
    margin: 0;
    width: 100%; }
    table.product-table p {
      margin: 0; }

  td.product-wrapper table {
    width: 100%; }
    td.product-wrapper table td:nth-of-type(2) span, td.product-wrapper table td:nth-of-type(2) p {
      padding: .5rem;
      padding-top: 0; }
  td.product-wrapper .image-container.mini {
    width: 100%;
    height: 350px; } }
footer {
  margin-top: auto;
  background: #EC4746;
  color: #fff;
  padding: 2rem 0; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer .col-md {
    padding: 0; }

#overrideBs.slideshow * {
  box-sizing: border-box; }
#overrideBs.slideshow .slideshow-container {
  position: relative;
  margin: auto; }
#overrideBs.slideshow .slideshow-container:hover .prev, #overrideBs.slideshow .slideshow-container:hover .next {
  opacity: 1; }
#overrideBs.slideshow .mySlides {
  display: none; }
#overrideBs.slideshow .prev, #overrideBs.slideshow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0; }
#overrideBs.slideshow .next {
  right: 0;
  border-radius: 3px 0 0 3px; }
#overrideBs.slideshow .prev:hover, #overrideBs.slideshow .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }
#overrideBs.slideshow .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.25s ease-out, width 0.4s ease, border-radius .25s; }
#overrideBs.slideshow .active, #overrideBs.slideshow .dot:hover {
  background-color: #EC4746; }
#overrideBs.slideshow .active {
  width: 30px;
  border-radius: 6px/50%; }
#overrideBs.slideshow .fade {
  opacity: inherit; }
#overrideBs.slideshow .fade {
  -webkit-animation-name: sh-fade;
  -webkit-animation-duration: .75s;
  animation-name: sh-fade;
  animation-duration: .75s; }
@-webkit-keyframes sh-fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes sh-fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=master.css.map */
